body {
	margin: 0;
	background-color: #2c5aa0;
	color: #dbdee3;
}

/* Fonts */
.ibm-plex mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

/* Login page */
.login-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-width: 288px;
	max-width: 333px;
	min-height: 450px;
	max-height: 450px;
	background-color: #6f7c91;
	font-size: clamp(21px, 2.7vw, 21px);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 450;
  font-style: normal;
	border-style: solid;
	border-width: 6px;
	border-color: #535d6c;
}

#sign-in {
	height: 10px;
  font-weight: 540;
	font-size: clamp(16px, 2.7vw, 16px);
}

.button {
	display: flex;
	justify-content: center;
	min-width: 198px;
	max-width: 198px;
	min-height: 42px;
	max-height: 42px;
	background-color: #b7bec8;
	border-style: solid;
	border-color: #535d6c;
	cursor: pointer;
}

#logo-login {
	width: 108px;
	height: 108px;
}

#metamask-logo {
	min-width: 153px;
	max-width: 153px;
	min-height: 42px; 
	max-height: 42px;
}

/* Dashboard Page */
.dashboard-container {
	display: flex;
	flex-direction: column;
}

.user-info {
	align-self: flex-end;
}
