body {
	margin: 0;
	background-color: #0f2c50;
	color: #0f2c50;
}

/* Login page */
body[data-page="login"] {
	font-family: "IBM Plex Mono", monospace;
  font-style: normal;
}

.login-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-width: 288px;
	max-width: 333px;
	min-height: 540px;
	max-height: 540px;
	background-color: #fdffff;
	font-size: clamp(21px, 2.7vw, 21px);
  font-weight: 450;
}

.username input {
	appearance: none;
	-webkit-appearance: none;
	border: 3px solid #0f2c50;
	width: 180px;
	height: 25px;
}

.username input::placeholder {
	font-family: "IBM Plex Mono", monospace;
}

.user-selector {
	display: flex;
	justify-content: center;
}

.user-selector input {
	cursor: pointer;
}

.user-selector input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fdffff;
	border: 3px solid #0f2c50;
}

.user-selector input[type="radio"]:checked {
	background-color: #0f2c50;
}

.user-selector label {
	font-size: clamp(15px, 2.7vw, 15px);
}
.artist-selector {
	min-width: 150px;
	max-width: 150px;
	text-align: center;
}

.listener-selector {
	min-width: 150px;
	max-width: 150px;
	text-align: center;
}

#sign-in {
	height: 36px;
  font-weight: 540;
	font-size: clamp(16px, 2.7vw, 16px);
}

.login-button {
	display: flex;
	justify-content: center;
	min-width: 198px;
	max-width: 198px;
	min-height: 42px;
	max-height: 42px;
	background-color: #fdffff;
	border-style: solid;
	border-color: #0f2c50;
	cursor: pointer;
}

#logo-login {
	width: 108px;
	height: 108px;
}

#metamask-logo {
	min-width: 126px;
	max-width: 126px;
	min-height: 42px; 
	max-height: 42px;
}

/* Dashboard Page */
body[data-page="dashboard"] {
	font-family: "Raleway", sans-serif;
	font-weight: 630;
	font-style: normal;
}

.dashboard-container {
	display: flex;
	flex-direction: column;
}

.user-info {
	align-self: flex-end;
}

.dashboard-button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 144px;
	max-width: 144px;
	min-height: 42px;
	max-height: 42px;
	background-color: #b7bec8;
	border-style: solid;
	border-color: #535d6c;
	cursor: pointer;
}

#upload-button {
	color: #535d6c;
}
